<launch>
  <arg name="left_camera_serial" default="13052157" />
  <arg name="right_camera_serial" default="13052135" />
  <arg name="calibrated" default="0" />

  <group ns="stereo">
      <group ns="left">
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager"/>

        <node pkg="nodelet" type="nodelet" name="camera_nodelet"
              args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager">
          <param name="frame_id" value="camera_left"/>
          <param name="serial" value="$(arg left_camera_serial)"/>
          <param name="frame_rate" value="30"/>
          <param name="auto_gain" value="false"/>
          <param name="auto_shutter" value="false"/>
          <param name="auto_exposure" value="false"/>
          <param name="enable_strobe1" value="true"/>
          <param name="strobe1_duration" value="10.0"/>
          <param name="video_mode" value="format7_mode0"/>
          <param name="camera_info_url" if="$(arg calibrated)"
                 value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial).yaml"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
              args="load image_proc/debayer camera_nodelet_manager">
        </node>
      </group>

      <group ns="right">
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager"/>

        <node pkg="nodelet" type="nodelet" name="camera_nodelet"
              args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager">
          <param name="frame_id" value="camera_right"/>
          <param name="frame_rate" value="60"/>
          <param name="serial" value="$(arg right_camera_serial)"/>
          <param name="enable_trigger" value="true"/>
          <param name="trigger_mode" value="mode0"/>
          <param name="trigger_source" value="gpio0"/>
          <param name="auto_gain" value="false"/>
          <param name="auto_shutter" value="false"/>
          <param name="auto_exposure" value="false"/>
          <param name="video_mode" value="format7_mode0"/>
          <param name="camera_info_url" if="$(arg calibrated)"
                 value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial).yaml"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
              args="load image_proc/debayer camera_nodelet_manager">
        </node>
      </group>

      <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
        <param name="approximate_sync" value="true"/>
      </node>
    </group>
</launch>
